<article id="blog-single" class="clearfix">
    <div class="col-sm-12">
        <div class="page-header">

        </div>
    </div>
    <div class="col-sm-9">
        <div class="single-post">
            <h3>{{post.title}}</h3>
            <div class="post-meta">
                <p>Posted by <span class="darker">{{post.author}}</span>
                    on March 31, 2016 in <span class="darker">{{post.category}}</span>
                    | 30 Comments
                </p>
            </div>
            <div class="post-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="single-post-image thumbnail">
                            <img src="{{post.headerImg}}" alt="{{post.title}}">
                        </div>
                        <p>{{post.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <aside class="sidebar">

        </aside>
    </div>
</article>