<h2>{{comments.length}} Comments</h2>
{{#each comments}}
    <div class="media single-comment">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="{{authorImg}}" >
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{authorName}}</h4>
            <span class="comment-date">
                March 13, 2017
            </span>
            <p>{{content}}</p>
            <button class="btn btn-custom btn-read-more">Read More</button>
        </div>
    </div>
{{/each}}
<div class="add-comment visible-when-logged-in">
    <h2>Leave a comment</h2>
    <div class="form-group">
        <!--<label for="usr">Name:</label>-->
        <input type="text" class="form-control custom-input comment-input" id="name" placeholder="Name">
    </div>
    <div class="form-group">
        <!--<label for="pwd">Password:</label>-->
        <input type="email" class="form-control custom-input comment-input" id="email" placeholder="Email">
    </div>
    <div class="form-group">
        <!--<label for="pwd">Password:</label>-->
        <textarea class="form-control custom-input comment-input custom-textarea" id="message" rows="6"  placeholder="Message"></textarea>
    </div>
    <button class="btn btn-custom btn-add-comment">Add Comment</button>
</div>