<div class="row">
    <div class="">
        <div class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5875.975398551329!2d23.41031617571239!3d42.57678356711489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa7e2810bd79f7%3A0xa00a014cd0e6b50!2s1191+Kokalyane!5e0!3m2!1sen!2sbg!4v1490678437051" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<article id="contact-us" class="clearfix">
    <div class="col-sm-12">
        <div class="page-header">

        </div>
    </div>
    <div class="col-sm-12 text-center">
        <h2>Tell Us What You Think</h2>
        <div class="form-group">
            <input type="text" class="form-control custom-input comment-input" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="email" class="form-control custom-input comment-input" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <textarea class="form-control custom-input comment-input custom-textarea" id="message" rows="6"  placeholder="Message"></textarea>
        </div>
        <button class="btn btn-custom btn-add-comment">Send</button>
    </div>
</article>