<div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    <div>
        <h3>From The Blog</h3>
        <ul class="custom-list">
            <li><a href="#/blog">Blog Post</a></li>
            <li><a href="#/blog">Blog Post</a></li>
            <li><a href="#/blog">Blog Post</a></li>
            <li><a href="#/blog">Blog Post</a></li>
            <li><a href="#/blog">Blog Post</a></li>
            <li><a href="#/blog">Blog Post</a></li>
        </ul>
    </div>
    <section>
        <h3>Archive</h3>
        <ul class="custom-list">
            <li><a href="#/blog">Blog Post</a></li>
            <li><a href="#/blog">Blog Post</a></li>
            <li><a href="#/blog">Blog Post</a></li>
            <li><a href="#/blog">Blog Post</a></li>
            <li><a href="#/blog">Blog Post</a></li>
            <li><a href="#/blog">Blog Post</a></li>
        </ul>
    </section>
    <section>
        <h3>Recent Posts</h3>
        <ul class="custom-list">
            <li><a href="#/blog">Blog Post</a></li>
            <li><a href="#/blog">Blog Post</a></li>
            <li><a href="#/blog">Blog Post</a></li>
            <li><a href="#/blog">Blog Post</a></li>
            <li><a href="#/blog">Blog Post</a></li>
            <li><a href="#/blog">Blog Post</a></li>
        </ul>
    </section>

</div>
