/*FONTS*/
@font-face {
  font-family: 'BlackJack';
  src:  url('../../src/assets/fonts/blackjack.otf');
}

@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Kreon:300,400,700');

/*GLOBAL VARIABLES START*/
$heading-color: #1d1d1d;
$link-color: #393939;
$link-active-color: #437d8b;
$border-color: #cbcbcb;
$font-italic: #a3a3a3;
$glyphicon-color: #c0c0c0;
$social-icon: #e3e3e3;
$carousel-selector-color: #1e1e1e;
$carousel-indicators-border: #dfdfdf;
$paragraph-color: #929292;
$separator-color: #f0f0f0;

/*MIXINS START*/
@mixin transition($time){
  transition: all ease-in-out $time;
}

/*GENERAL STYLES START*/
body {
  background: url('../../src/assets/images/background-pattern.jpg');
  font-size:15px;

  a, li a, li a span{
    text-decoration: none;
    display: block;
    color: $link-color;
    @include transition(0.2s);

    &.active,
    :hover,
    :focus {
      color: $link-active-color;
    }
  }

  li.active a,
  li a:hover  {
    color: $link-active-color!important;
    text-decoration: none;
    background: none!important;

  }

  h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
  }
  h1, h2, h3, h4, h5, h6, a, a *{
    font-family: 'Kreon', serif;
    font-weight: normal;
  }

  h1 {
    font-size:28px;
  }

  h2{
    font-size:24px;
  }

  p {
    font-family: 'Droid Sans', sans-serif;
    color: $paragraph-color;
    font-size: 14px;
  }

  section {
    margin-top: 40px;
  }

  .darker {
    color: $link-active-color;
  }
  .subtitle{
    font-family: 'Kreon', serif;
    font-weight:300;
    font-size:16px;
  }
  .section-separator {
    width: 80%;
    margin-top: 50px;
    color: $separator-color;
  }

  .custom-list {
    padding-left: 17px;

    li {
      font-family: 'Droid Sans', sans-serif;
      color: $paragraph-color;

      a {
        color: $paragraph-color;
      }
    }
  }

}

.white-bg {
  background: #fff;
}

.main-container {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.08);
  border: 1px solid white;
  margin: 30px auto;
}

.fa {
  font-size: 22px!important;
  @include transition(0.3s);

  &.social-icon {
    color: $social-icon;
    margin-right: 5px;
  }

  &:hover,
  &.social-icon:hover {
    color: $link-active-color;
  }
}

/*LOGO STYLES*/
.logo-holder {
  display:inline-block;
  width:auto;
  @include transition(0.3s);

  &:hover {
    cursor: pointer;
    text-decoration: none;

    .logo-name {
      color: $link-color;
    }
  }

  .logo-img {
    background: url(../../src/assets/images/logo.png) no-repeat;
    background-position: 0 5px;
    background-size: 42px 50px;
    display: inline-block;
    float: left;
    width: 50px;
    height: 55px;
  }

  .logo-name{
    color: $link-color;
    font-family: 'BlackJack',cursive;
    font-weight: normal;
    font-size: 32px;
    letter-spacing: 2px;
    display: inline-block;
  }

  .logo-slogan {
    color: #437d8b;
    text-transform: uppercase;
    margin: -10px 0 0 55px;
    letter-spacing: -0.5px;
  }
}

/*HEADER STYLES START*/
header {
  color: $link-color;
  .top-nav {
    border-bottom: 1px solid $border-color;
    box-shadow: inset 4px 24px 60px -8px rgba(0, 0, 0, 0.08);
    position: relative;

    li a {
      padding-bottom: 0px;
      margin-top: 15px;
    }

    .navbar-default {
      background:none;
      border:none;
      margin-top:20px;
    }

    .fixed-form {
      position: absolute;
      top:0;
      right:0;
    }

    .icon-group {
      position: absolute;
      top: 6px;
      left: -105px;

      a {
        display: inline-block;
      }
    }

    .search-input {
      border: 1px $border-color;
      border-style: none none solid solid;
      border-radius: 0;
      box-shadow: inset 3px 5px 32px 1px rgba(0, 0, 0, 0.08);
      color: $glyphicon-color;
      font-family: "Georgia", serif;
      font-style: italic;
      position: relative;
      width: 200px;
    }

    .custom-search {
      position: absolute;
      top: 10px;
      right: 10px;
      color: $glyphicon-color;
    }
  }

  .main-nav {
    background: url(../../src/assets/images/menu-pattern.jpg);
    box-shadow: inset 0 2px 9px 0 rgba(0, 0, 0, 0.08);

    a {
      text-transform: uppercase;
    }
  }
}

.page-header {
  padding: 0;
  margin: 0;
  border: none;

  .page-header-holder {
    border: 1px $separator-color;
    border-style: solid none solid;
    padding-bottom: 10px;
  }

  .custom-breadcrumbs {
    .breadcrumb {
      background: none;
      margin: 0;
      padding-left: 0;

      li + li:before {
        color: $paragraph-color;
        content: "\0000bb";
      }

      li.active {
        font-family: 'Kreon', serif;
        color: $link-active-color;
      }

      a{
        display:inline;
      }
    }
  }
}

.carousel.custom-carousel {
  img {
    object-fit:cover;
  }

  .carousel-indicators {
    bottom: -35px;
    margin-bottom: 0;

    li{
      width:10px;
      height:10px;
      background: $carousel-indicators-border;
      border: 2px solid $carousel-indicators-border;
      @include transition(0.3s);

      &:hover,
      &.active {
        background-color: $carousel-selector-color;
      }
    }
  }

  .custom-chevron {
    position:absolute;
    height:44px;
    width:38px;
    display:block;
    top:178px;

    &.custom-chevron-left {
      background: url('../../src/assets/images/carousel-arrow-left.png') no-repeat center;
      left: -6px;
    }

    &.custom-chevron-right {
      background: url('../../src/assets/images/carousel-arrow-right.png') no-repeat center;
      right:-6px;
    }
  }

  .carousel-caption {
    left: initial;
    right: 5%;
    top: 15%;
    width: 40%;
    height: 70%;
    background: rgba(0, 0, 0, 0.59);
    text-align: left;
    padding: 5%;

    h2 {
      font-size: 28px;
      font-weight: 100;
      margin-top: 0;
    }
  }

  &#home-carousel {
    img {
      width:100%;
      height:400px;
    }
  }

  &#media-carousel {
    img {
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 25px;
      border: 1px solid #f0f0f0;
      padding: 5px;
      box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.08);

      &:last-of-type {
        margin-right:0;
      }
    }

    .custom-chevron{
      top: 28px;
    }
  }

}

.single-post {
  .post-meta {
      border: 1px $separator-color;
      border-style: solid none solid;

      p {
        font-family: 'Kreon',serif;
        margin-bottom: 0;
        padding: 5px 0;
      }
  }

  .post-content {
    margin-top: 20px;

    .btn {
      background: none;
      border: 1px solid $border-color;
      color: $heading-color;
      font-family: 'Kreon', serif;
      float: right;
      padding: 3px 10px;
      @include transition(0.3s);

      &:hover {
        color: #fff;
        background: $link-active-color;
      }
    }
  }

  .single-post-image.thumbnail {
    width: 350px;
    height: 250px;
    float: left;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.pagination{
  &.custom-pagination {
    display: block;
    float: right;

    li {
      a {
        color: $heading-color !important;
        border-color: $separator-color;
        @include transition(0.3s);
        border-radius: 3px;
        margin-right: 10px;
      }

      &:last-child a{
        margin-right: 0;
      }

      &.active a,
      &:hover a{
        background: $link-active-color!important;
        color: #fff!important;
        border-color: $link-active-color;
      }
    }
  }
}

/*FOOTER STYLES START*/
.footer {
  background: #f9f9f9;
  padding: 30px 30px 10px 30px;
  border-top: 1px solid $border-color;
  box-shadow: inset 1px 1px 1px 1px #fff;
  margin-top: 40px;

  h3{
    margin-top: 10px;
  }
}

/*RESPONSIVE STYLES START*/
/* Tablets and smaller */
@media only screen and (max-device-width : 1024px) {
  .main-container{
    margin: 10px;
  }

  .custom-carousel.carousel {
    .carousel-caption {
      width: 90%;
    }
  }

  .categories-holder{
    text-align: center;
  }

  .carousel.custom-carousel{
    &#media-carousel {
      img {
        margin-right:10px;
      }
    }
  }
}
